

.roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  :root{
    --color-1: #2f855a;
    --color-2: #f3f4f6;
    --color-3: #1c2541;         
  }

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "Roboto", Tahoma, sans-serif;
    background-color: #f3f4f6;
    overflow-x: hidden;
    height: 100%;
  }

  body{
    height: 100%;
    padding-top: 50px;
    margin: 0px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  nav{
    height: 60px;
    background-color: var(--color-3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav a{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-2);
  }

  nav a:hover{
    background-color: var(--color-1);
    color: var(--color-2);
  }
  nav .home-link{
    margin-right: auto;

  }

  nav svg{
    height: 30px;
    width: 30px;
    fill: var(--color-2);
  }
  #sidebar-active{
    display: none;
  }

  .open-sidebar-button, .close-sidebar-button{
    display: none;
    
  }

  @media(max-width: 768px){
    html{
      font-size: 12px;
    }
    nav{
      height: 50px;
    }
    nav a{
      padding: 0px 15px;
    }

    .links-container{
        
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: var(--color-3);
        box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;

    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding: 20px;
      }

      #sidebar-active:checked ~ .links-container{
        right: 0;
      }
      #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
      }
  }

  .Festung_Salzach{
    width: 100%;
    object-fit: cover;
    object-position: top;
    display: block;
    height: auto;
  }

  .image-container {
    width: 100%;
    height: auto; /* اجازه می‌دهد ارتفاع با محتوا تنظیم شود */
    overflow: hidden; /* از اسکرول و فضای اضافه جلوگیری می‌کند */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

  @media all and (max-width: 480px){
    .Festung_Salzach{
      width: 100%;
    }
  }

main {
  width: 90%;  /* عرض محدود برای خوانایی بهتر */
  margin: 15px auto; /* 50 پیکسل فاصله بالا و پایین، و auto برای وسط‌چین شدن */
  padding: 20px;
  max-width: 1200px; /* حداکثر عرض ممکن */
  flex-grow: 1;
}

.subject{
  display: inline-block;
  margin-bottom: 20px;
}

.subject-text{
  color: #950952;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.paragraph{
  margin-bottom: 75px;
  margin-left: 5px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.5px;
  color: #1c2541;
}

.footer{
  background: linear-gradient(90deg, var(--color-1), var(--color-3)); 
  color: var(--color-2);
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}
.photo-credit-link{
  color: var(--color-2);
  text-decoration: none;

}

.icon{
  align-items: start;
}

body {
  opacity: 0;
  animation: fadeIn 1.2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.registration-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  max-width: 1200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.registration-table thead tr{
  background-color: var(--color-1);
  color: var(--color-2);
  text-align: left;
  font-weight: bold;
}

.registration-table th, .registration-table td{
  padding: 12px 15px;
}

.registration-table tbody tr{
  border-bottom: 1px solid #dddddd;
}

.registration-table tbody tr:last-of-type{
  border-bottom: 2px solid var(--color-1);
}

.registration-here{
  margin-top: 15px;
}

.registration-text{
  color: #1c2541;
}

.policy{
  margin-top: 35px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #1c2541;
}
.policy-list{
  margin-top: 2px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.5px;
  color: #1c2541;
  display: inline-block;
  margin-left: 20px;
}

@media (max-width: 600px) {
  .registration-table {
      font-size: 0.8em;
  }

  .paragraph, .policy {
      font-size: 14px;
  }
}
